{% extends 'index.html' %}
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

    </head>

{% block link1 %}
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Save code</span>
    </a>
  </li>
{% endblock link1 %}

{% block pagecontent %}

   <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% for i in perfiluser %}
                            <img class="card-img-top" src="{{ i.imagen_perfil.url }}" alt=""/>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Kshiti Ghelani
                                    </h5>
                                    <h6>
                                        Web Developer and Designer
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">



                
    
                            {% if not perfiluser %}

                              <a href="{% url 'codeuser:Crearprofile' %}">Crear profile</a>

                            {% else %}

                                {% for i in perfiluser %}

                                <a href="{% url 'codeuser:Editarprofile' i.pk %}">Editar profile</a>
                                
                                {% endfor %}


                            {% endif %}

                        

                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            {% for perfil in perfiluser %}
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ perfil.nombre }} </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    {{ perfil.correo }}  
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Telefono</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ perfil.telefono }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Direccion</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ perfil.direccion }}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>GitLab</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ perfil.repositorio_gitlab }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>GitHub</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ perfil.repositorio_github }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Lenguajes usados</label>
                                            </div>
                                            <div class="col-md-6">
        
                                                {% for usuario in perfil.lenguajes_programacion.all %}
                                                    <p> {{ usuario.nombre }} </p>
                                                {% endfor %}
                                            </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>My Bio</label><br/>
                                                <p>{{ perfil.aboutme }}</p>
                                            </div>
                                        </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>           
        </div>
{% endblock pagecontent %}