{% extends 'index.html' %}
{% block pagecontent %}


<div class="alert alert-primary" role="alert">

    <form method="get">
        {{ snippet.form.as_p }}
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form

</div>

{% for i in snippet.qs %}

  <div class="card text-center">
    <div class="card-header">
        {{ i.lenguajeProgramacion }}
    </div>
    <div class="card-body">
      <img class="card-img-top" src="{{ i.codigo_foto.url }}" >
      <p class="card-text">{{ i.informacion_codigo }} </p>
      <a href="#" class="btn btn-primary">Ver Snippet completo</a>
    </div>
    <div class="card-footer text-muted">
      Fecha de publicacion {{ i.fecha_creacion  }}
    </div>
  </div>


{% endfor %}

{% endblock pagecontent %}
