
{% extends 'nuevo_template/dashboard.html' %}

{% block pagecontent %}

<div class="card text-center">
  <div class="card-header">


  </div>

  <form method="POST" enctype=multipart/form-data>
    {% csrf_token %}
    {{ form }} 
    <div class = "col-lg-12 form-group">
      <select  id="selectm" name="selectm" class="form-control">
        <option value="{{ form.lenguajeProgramacion }} ">Seleccionar</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" >Guardar</button>
  </form>


</div>


{% endblock pagecontent %}


