{% extends 'index.html' %}
{% block pagecontent %}


<table class="table">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Snippet</th>
        <th scope="col">....</th>
        <th scope="col">Actions</th>
        <th scope="col">....</th>
      </tr>
    </thead>
    <tbody>
    
    {% for i in snippet %}

      <tr>
        <th scope="row"> {{ i.id }} </th>
        <th scope="row"> {{ i.informacion_codigo }} </th>
        <td><a class="btn btn-success"  href="{% url 'codeuser:VerSnippet' i.pk %} ">Ver </a></td>
        <td><a class="btn btn-warning" href="{% url 'codeuser:EditarSnippet' i.pk %}">Editar </a></td>
        <td><a  class="btn btn-danger" href="{% url 'codeuser:EliminarSnippet' i.pk %}">Eliminar </a></td>
      </tr>

    {% endfor %}

  </table>
{% endblock pagecontent %}